<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      autoReload="true">

	<targets>
		<target xsi:type="File" name="main_log" keepFileOpen="true" concurrentWrites="true"
		        fileName="D:\logs\log_${date:format=yyyyMMdd}.txt"
		        layout="${longdate}	[${threadid}]	[${ndlc}]	[${level:uppercase=true}]		${callsite:className=true:methodName=true:includeNamespace=false:cleanNamesOfAnonymousDelegates=true:cleanNamesOfAsyncContinuations=true}	-	${message}" />

		<target xsi:type="Null" name="blackhole" />
	</targets>

	<rules>
		<logger name="Quartz.*" minlevel="Trace" writeTo="blackhole" final="true" />

		<!-- Логирование приложения -->
		<logger name="*" minlevel="Info" writeTo="main_log" final="true" />
		<logger name="*" final="true" />
	</rules>
</nlog>